@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;900&family=Roboto:ital,wght@0,100;0,400;1,100;1,700&display=swap");
/* VARIABLES */
/* MIXINS */
/* GENERAL STYLES */
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

#progress-bar {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#progress-bar .fill {
  height: 100%;
  background: #005AA7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 0;
  transition: width 0.3s ease;
}

#return-to-top-btn {
  background-repeat: no-repeat;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.fa-stack {
  color: #07ACE6;
}

.fa-stack:hover {
  color: black;
}

#return-to-top-btn.show {
  display: block;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.section-slide {
  margin: 6.5rem auto;
}

section {
  width: 100%;
}

.slide-viewer {
  position: relative;
  background: white;
  max-width: 750px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
}

.slide-img {
  position: absolute;
  object-fit: cover;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 400ms ease-in;
}

.slide-img-active {
  opacity: 1;
}

.slide-btn-visible {
  visibility: inherit;
}

.slide-btn-disabled {
  visibility: hidden;
}

.container-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.container-arrow:hover {
  background: #fff;
}

.container-arrow-left {
  left: 10px;
}

.container-arrow-right {
  right: 10px;
}

.slide-btn-container {
  width: max-content;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.slide-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  background: var(-grey);
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms;
}

.slide-btn:hover,
.slide-btn-active {
  background: var(-primary);
}

.modal-content span {
  color: black;
  font-size: 2em;
}

#subscribeForm button:hover {
  color: black;
}

#subscribeForm input {
  width: 80%;
}

#subscribeForm button {
  color: white;
  margin-top: 20px;
  padding: 15px 60px;
  font-weight: 500;
  background-color: #08a6e4;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #08a6e4;
}

* {
  box-sizing: border-box;
}

/* MOBILE MENU BUTTON */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #08a6e4;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.input-error {
  border: 1px solid red;
}

/* RESPONSIVE STYLES */
@media (max-width: 700px) {
  .footer-desktop {
    display: none;
  }
  .blue-container-wrapper h3 {
    display: none;
  }
  /* GENERAL RULES */
  a {
    margin-left: 10px;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    color: black;
  }
  .top-nav {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #08a6e4;
    height: 50px;
    padding: 1em;
  }
  .menu > li {
    overflow: hidden;
  }
  .menu-button-container {
    display: flex;
  }
  a {
    font-size: 0.9em;
    margin-left: 30px;
    text-decoration: none;
  }
  .title {
    font-size: 1.5em;
  }
  .menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    color: grey;
    font-weight: 600;
    height: 4.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    margin-bottom: -40px !important;
    display: block;
    background-color: white;
    color: black;
  }
  .menu > li:last-child {
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.103);
  }
  /* CONTENT STYLES */
  .sell-more h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  .sell-more p {
    margin-left: 20px;
  }
  .sell-more-container {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .sell-more-container p {
    line-height: 1.5;
  }
  .open-shop-p {
    display: none;
  }
  .open {
    margin-top: 20px;
  }
  .open a {
    font-size: 1em;
    border: none;
    font-weight: 400;
    background-color: #08a6e4;
    color: white;
    padding: 20px 75px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(10, 149, 209, 0.408);
  }
  .content1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .info {
    display: none;
  }
  .info2 p {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
  }
  .background-image-person {
    margin-left: -52px !important;
    position: absolute;
    z-index: -1;
  }
  .background-image-eye {
    margin-left: -52px !important;
    position: absolute;
    z-index: -1;
  }
  .background-image-catalogo {
    margin-left: -52px !important;
    position: absolute;
    z-index: -1;
  }
  .foreground-image-person {
    transform: translate(165%, 10%);
    position: relative;
    display: block;
  }
  .foreground-image-catalogo {
    transform: translate(130%, 10%);
    position: relative;
    display: block;
  }
}
.foreground-image-eye {
  transform: translate(89%, 30%);
  position: relative;
  display: block;
}

.numbers {
  font-weight: 700 !important;
  margin-right: 25px;
  font-size: 2em !important;
}

.under-numbers {
  margin-top: -20px;
  margin-left: -15px;
  margin-bottom: 20px;
  color: grey;
  font-size: 1.3em !important;
}

.macbook {
  position: relative;
  background-color: #f0f0f0;
  padding: 40px 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.be-always {
  margin: 50px 0 0 20px;
  font-weight: 400;
  font-size: 1.6em !important;
}

.left-container p {
  font-weight: 400;
  font-size: 1em;
  padding: 20px;
}

.iphone-desc p {
  font-weight: 400;
  font-size: 1em;
  padding: 0 0 0 20px;
}

.foreground-image-macbook {
  width: 250px;
  transform: translate(0%, 30%);
}

.background-macbook {
  width: 120px;
  transform: translate(95%, 5%) !important;
}

.left-container {
  text-align: left;
}

.iphone-desc {
  text-align: left;
}

.content-div {
  background-color: #fff;
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 30px;
}

.mobile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 30px;
}

.trumpet {
  display: none;
}

.foreground-image-iphone {
  width: 230px;
  position: relative;
  transform: translate(10%, 10%);
}

.background-iphone {
  width: 170px;
  position: absolute;
  transform: translate(15%, 10%);
}

.your-shop {
  word-spacing: -2px;
  margin: 50px 60px 0 0 !important;
  font-size: 1.5em !important;
}

.background-trumpet {
  position: relative;
  transform: translateY(214px);
  width: 100%;
}

.foreground-image-trumpet {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.content-div1 {
  position: relative;
  background-color: #fff;
  width: 100%;
}

.trumpet-desc p:last-child {
  margin-bottom: -60px;
}

.trumpet-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.increase {
  padding-left: 20px;
  font-size: 1.5em;
}

.imagenes {
  position: relative;
  margin: -130px 0 -42px 0;
}

.recognition {
  margin-right: 135px !important;
  font-size: 1.5em;
}

.content-div1 p {
  text-align: start;
}

.trumpet-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}

.pircing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 20px 30px;
}

.pircing {
  font-size: 1.5em;
}

.container-pircing {
  margin: 35px 20px 20px 20px;
  position: relative;
  border-radius: 25px;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.left-content {
  padding: 10px;
}

.right-content {
  margin-left: 30px;
}

.left-content p {
  margin-left: 13px;
  font-size: 1.5em;
}

.prices {
  color: #EB476E;
  margin-top: -10px;
  font-size: 2.9em !important;
}

.begin-button-red {
  position: absolute;
  display: block;
  font-size: 1em;
  font-weight: 400;
  background-color: #EB476E;
  color: white;
  border-radius: 25px;
  padding: 10px 45px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  border: none;
}

.fa-square-check {
  margin-right: 10px;
  color: #55DFB4;
}

.list-basic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  line-height: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.list-basic li {
  white-space: nowrap;
  width: 110px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-basic img {
  margin-right: 10px;
}

.container-pircing:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(198, 64, 64, 0.418);
}

.professional {
  margin-left: 10px;
  font-weight: 600;
}

.prices1 {
  margin-top: -10px;
  font-size: 2.2em !important;
  color: #08a6e4;
}

.limited {
  font-size: 15px !important;
  margin: -30px 0 0 5px;
  font-weight: 600;
  white-space: nowrap;
}

.limited1 {
  font-size: 15px !important;
  margin: -30px 0 0 5px;
  font-weight: 600;
  white-space: nowrap;
}

.container-pircing-blue:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(64, 162, 198, 0.596);
}

.container-pircing-blue {
  margin: 35px 20px 20px 20px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #07ACE6;
}

.begin-button-blue {
  position: relative;
  display: block;
  position: absolute;
  font-size: 1em;
  border: none;
  font-weight: 400;
  color: white;
  padding: 10px 45px 10px 45px;
  border-radius: 25px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  background-color: #07ACE6;
}

.container-pircing-green {
  margin: 35px 20px 20px 20px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #55DFB4;
}

.begin-button-green {
  position: relative;
  display: block;
  position: absolute;
  font-size: 1em;
  border: none;
  font-weight: 400;
  background-color: #55DFB4;
  color: white;
  padding: 10px 45px;
  border-radius: 25px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.premium {
  margin-left: 5px;
  font-weight: 600;
}

.prices2 {
  margin-top: -10px;
  font-size: 2.2em !important;
  color: #55DFB4;
}

.container-pircing-green:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(47, 206, 145, 0.596);
}

.formulario {
  padding: 20px;
}

.formulario h2 {
  margin-top: -15px;
  font-weight: 400;
  font-size: 2em;
}

.formulario ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.data-protection p {
  color: grey;
}

.data-protection {
  display: flex;
  align-items: center;
}

.formulario li {
  margin: 0 10px;
  font-size: 1.2em;
}

.checkbox-form {
  display: inline-flex;
  margin-bottom: 140px !important;
}

.fa-envelope {
  color: #07ACE6;
  margin-right: 5px;
}

.fa-phone {
  color: #07ACE6;
  margin-right: 20px;
}

.formulario form {
  margin: 20px 0;
  padding: 10px 0;
}

.wrap {
  white-space: nowrap;
  font-size: 1em;
}

.formulario label {
  color: #07ACE6;
  font-weight: 400;
  font-size: 1.2em;
}

.formulario input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

/* Estilo del input cuando está enfocado */
input:focus {
  border-bottom: 2px solid red;
  /* Borde inferior más grueso al estar enfocado */
}

.boton-send {
  font-size: 1em;
  border: none;
  font-weight: 400;
  background-color: #08a6e4;
  color: white;
  padding: 20px 95px;
  border-radius: 25px;
  margin: 10px 0 0 150px;
  box-shadow: 0px 4px 8px rgba(10, 149, 209, 0.408);
}

.div-list {
  margin-right: 105px;
}

.list-basic2 {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  font-weight: 500;
  font-size: 14px;
  margin-left: -130px;
  margin-bottom: 30px;
}

footer {
  box-shadow: 0px -5px 10px rgba(128, 128, 128, 0.372);
  padding: 15px;
  color: #333;
  text-align: center;
}

.footer-container {
  max-width: 800px;
  line-height: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
}

.social-icons a:first-child {
  margin-left: 0;
}

.fab {
  font-size: 24px;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-facebook {
  color: #3B5998;
}

.h2-footer {
  font-weight: 400;
  color: #08a6e4;
}

.background-laptop {
  width: 100%;
}

.background-laptop img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
}

.linea {
  display: none;
}

.background-macbook {
  position: absolute;
  transform: translate(100%, 50%);
}

.background-macbook2 {
  display: none;
}

.foreground-image-macbook {
  width: 60%;
  position: relative;
  transform: translate(5%, 20%);
}

@media only screen and (min-width: 1000px) {
  form {
    margin-top: 20px;
  }
  a {
    font-weight: 500;
    color: grey !important;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    padding: 0 35px;
  }
  a:visited {
    color: inherit;
  }
  .open-shop-p2 {
    display: none;
  }
  a:hover {
    color: black !important;
    text-underline-offset: 18px;
    text-decoration-thickness: 3px !important;
    text-decoration-color: #07ACE6 !important;
    text-decoration: underline;
  }
  .top-nav {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #08a6e4;
    height: 50px;
    padding: 1em;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
  }
  .sell-more-container p {
    white-space: pre-line;
  }
  .sell-more-container h2 {
    font-weight: 400;
  }
  .title {
    font-size: 1.5em;
    margin-left: 4.5%;
  }
  .open {
    margin-top: 20px;
  }
  .open a {
    box-shadow: 0px 4px 6px rgba(10, 149, 209, 0.547);
    font-size: 1em;
    border: none;
    font-weight: 400;
    background-color: #08a6e4;
    color: white !important;
    padding: 20px 105px;
    border-radius: 25px;
  }
  .info2 {
    display: none;
  }
  .info {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
  .info h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 80px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .background-laptop img {
    width: 100%;
    height: auto;
  }
  .background-image {
    margin-left: -29px !important;
    position: absolute;
    z-index: -1;
  }
  .background-image-eye {
    margin-left: -50px !important;
    position: absolute;
    z-index: -1;
  }
  .foreground-image-catalogo {
    margin: 5px 0 0 75px;
    position: relative;
    display: block;
  }
  .macbook {
    padding: 3% 10%;
  }
  .mobile1 {
    padding: 3% 10%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
  }
  .content-div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 50px;
  }
  .left-container {
    width: 50%;
    flex-basis: 50%;
    line-height: 1.3;
    white-space: pre-line;
  }
  .macbook-desc {
    flex-basis: 50%;
  }
  .foreground-image-macbook {
    height: 250px;
    width: 500px;
    position: relative;
    transform: translate(20%, -70%);
  }
  .background-macbook2 {
    display: block;
    transform: translate(190%, 5%);
  }
  .background-macbook {
    display: none;
  }
  .linea {
    margin-left: 18px;
    display: block;
    width: 420px;
    border-bottom: 4px solid #FB3B64;
  }
  .right-container {
    flex-basis: 50%;
    position: relative;
  }
  .iphone-desc {
    flex-basis: 50%;
    line-height: 1.3;
    white-space: pre-line;
  }
  .linea2 {
    margin-left: 20px;
    display: block;
    width: 420px;
    border-bottom: 4px solid #07ACE6;
  }
  .content-div1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
  }
  .background-iphone {
    width: 250px;
    position: relative;
    transform: translate(25%, 5%);
  }
  .foreground-image-iphone {
    width: 350px;
    position: relative;
    transform: translate(-52%, 15%);
  }
  .content1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contenedor-imagenes {
    margin-top: 50px;
    gap: 200px;
    display: flex;
    justify-content: center;
  }
  .under-numbers {
    margin-left: 20px;
  }
  .background-image-person {
    transform: translate(60%, -5%);
    position: absolute;
    z-index: -1;
  }
  .background-image-eye {
    transform: translate(141%, -5%);
    position: absolute;
    z-index: -1;
  }
  .background-image-catalogo {
    transform: translate(40%, -5%);
    position: absolute;
    z-index: -1;
  }
  .foreground-image-person {
    transform: translate(165%, 10%);
    position: relative;
    display: block;
  }
  .foreground-image-catalogo {
    transform: translate(-40%, 1%);
    position: relative;
    display: block;
  }
  .trumpet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3% 10%;
  }
  .under-numbers {
    margin-left: -3px;
  }
  .mobile1 {
    display: none;
  }
  .trumpet {
    margin-top: -50px;
    padding: 3% 10%;
    background-color: #f0f0f0;
    display: flex;
  }
  .trumpet .content-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trumpet .content-div2 .left-container-trumpet {
    width: 60%;
    height: 450px;
    background-color: white;
    padding: 20px;
  }
  .trumpet .content-div2 .right-container-trumpet {
    width: 40%;
    padding: 20px;
  }
  .trumpet .content-div2 .right-container-trumpet img {
    display: block;
    margin: 0;
    max-width: 100%;
  }
  .left-container-trumpet div {
    height: 100%;
    width: 100%;
  }
  .right-container-trumpet div {
    margin-top: -20px;
    height: 455px;
    width: 580px;
    margin-left: 10px;
  }
  .background-trumpet {
    position: relative;
    transform: none;
    width: 100%;
    height: 100%;
  }
  .foreground-image-trumpet {
    position: relative;
    width: 550px;
    transform: translate(0%, -90%);
  }
  .linea3 {
    margin-top: 30px;
    display: block;
    width: 420px;
    border-bottom: 4px solid #55DFB4;
  }
  .recognition:first-child {
    line-height: 1.5;
  }
  .recognition {
    font-size: 1.5em;
  }
  .pircing-section {
    margin-top: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container-pircing {
    width: 350px;
    height: 450px;
    margin-top: 50px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
  }
  .container-pircing-blue {
    margin-top: 40px !important;
    grid-column: 2/3;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-pircing-green {
    margin-top: 50px !important;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3/4;
  }
  .pircing {
    display: none;
  }
  .list-basic {
    flex-direction: column;
  }
  .list-basic li {
    white-space: nowrap;
    width: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .left-content {
    padding: 0;
  }
  .prices {
    margin-top: 0;
  }
  .prices1 {
    margin-top: 0;
  }
  .right-content {
    margin-right: 60px;
  }
  .limited {
    margin-bottom: 10px;
  }
  .limited1 {
    margin-bottom: 30px;
  }
  .blue-container-wrapper h3 {
    margin-top: -20px;
    font-size: 1.5em;
    font-weight: 400;
  }
  .form-section {
    padding: 3% 10%;
    margin-top: 100px;
    display: flex;
  }
  .formulario {
    display: flex;
    flex-direction: row;
  }
  .questions {
    justify-content: center;
    text-align: center;
    width: 45%;
  }
  .form-check {
    margin-top: -50px;
    width: 50%;
  }
  .div-list {
    margin: 0 0 0 30px;
  }
  .wrap {
    white-space: nowrap;
    font-size: 1em;
    margin-left: 30px;
  }
  .list-basic2 {
    color: grey;
    display: flex;
    flex-direction: row;
    line-height: 28px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 0 23px;
  }
  .checkbox-form {
    margin-top: 40px;
    margin-left: -70px;
  }
  .data-protection p {
    margin-top: -20px;
    margin-left: -60px;
  }
  .boton-send {
    margin: 10px 0 0 450px;
  }
  .footer-mobile {
    display: none;
  }
  .footer-desktop {
    height: 100px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright {
    order: 1;
    margin-left: -250px;
  }
  .social-icons {
    order: 2;
    margin-right: -250px;
  }
  .social-icons a {
    margin-left: -50px;
  }
}

/*# sourceMappingURL=styles.css.map */
